[user]
	name = Mario Campbell R
	email = mcampbellrojas@tevora.com
[init]
	defaultBranch = main
[credential]
	helper = cache
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
	co = checkout
	st = status --short
	sw = switch
	cm = commit
  bn = !git rev-parse --abbrev-ref HEAD
[commit]
  template = ~/.gitmessage
[push]
	default = current
[core]
	editor = nvim
	pager = cat
	autocrlf = input
