
.DS_Store
nvim/.config/nvim/plugin/packer_compiled.lua
node_modules
zsh/.config/zsh/plugins
zsh/.config/zsh/.zcompdump
zsh/.config/zsh/.zsh_history
zsh/.config/zsh/.zcompcache

git/.gitaccounts.json
bin/.local/share/nvim/site/pack/packer
bin/.local/share/nvim/undodir
bin/.local/share/nvim/shada
bin/.local/share/nvim/.netrwhist
bin/.local/share/nvim/rplugin.vim
bin/.local/share/nvim/harpoon.json
bin/.local/share/nvim/lsp_servers
bin/.local/share/nvim/telescope_history
bin/.local/share/rotator/.rotator.json
bin/.local/share/nvim/tree-sitter-r

bin/.local/share/nvim/tree-sitter-phpdoc
bin/.local/share/nvim/tree-sitter-beancount/.github/workflows
bin/.local/share/nvim/tree-sitter-beancount