
.DS_Store
nvim/.config/nvim/plugin/packer_compiled.lua
node_modules
zsh/.config/zsh/plugins
zsh/.config/zsh/.zcompdump
zsh/.config/zsh/.zsh_history
zsh/.config/zsh/.zcompcache

git/.gitaccounts.json
bin/.local/share/nvim/site/pack/packer
bin/.local/share/nvim/undodir
bin/.local/share/nvim/shada
bin/.local/share/nvim/.netrwhist
bin/.local/share/nvim/rplugin.vim
bin/.local/share/nvim/harpoon.json
bin/.local/share/nvim/lsp_servers
bin/.local/share/nvim/telescope_history
bin/.local/share/rotator/.rotator.json

bin/.local/share/nvim/tree-sitter*

zsh/AWSCLIV2.pkg
nvim/.config/nvim/.luarc.json

*.bak

bin/.local/bin/CompileDaemon
bin/.local/state/nvim
bin/.local/share/nvim/mason/bin
bin/.local/share/nvim/mason/packages/eslint_d
bin/.local/share/nvim/mason/packages
zsh/.config/zsh/.zsh_sessions
nvim/.config/nvim/~/.local/share/nvim/undodir
~/.local/share/nvim/undodir
bin/.local/share/nvim/transparent_cache
bin/.local/share/nvim/mason/registries/github/mason-org/mason-registry
bin/.local/share/nvim/mason/share/mason-schemas/lsp
bin/.local/share/fish
bin/.local/share/nvim/nvim_checkpoints
bin/.local/state/gh
bin/.local/share/nvim/lazy/lazy.nvim
bin/.local/share/nvim/lazy
nvim/.config/nvim/after/plugin_bkp
bin/.local/share/NuGet
bin/.local/share/direnv/allow
bin/.local/state/zsh-autocomplete/log/2024-02-09.log
bin/.local/bin
tmux/.config/tmux/plugins
bin/.local/share/solana/install
bin/.local/share/heroku
nvim/.config/nvim/lazy-lock.json
bin/.local/share/direnv/deny/795b35d7676d5fa2c404a18e45d48595022898a34abee57dbc62c155bac2de95
